@model GerenciadorCondominio.BLL.Models.Aluguel

@{
    ViewData["Title"] = "Atualizar Aluguel";
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="collection-header blue darken-3">
                <h6 class="white-text">Atualizar Aluguel</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>
                <input type="hidden" asp-for="AluguelId" />
                
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Valor" class="was-validated" id="Valor" />
                        <label asp-for="Valor" id="Valor"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Valor"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="MesId" class="validate" id="Mes" asp-items="ViewBag.MesId"></select>
                        <label asp-for="MesId" id="Mes">Selecione o mes</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Ano" class="was-validated" id="Ano" />
                        <label asp-for="Ano" id="Ano"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Ano"></span>
                    </div>
                </div>
            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Atualizar</button> &emsp;
                <a asp-action="Index" asp-controller="Alugueis">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/IniciarSelectList.js"></script>
}