@model GerenciadorCondominio.BLL.Models.Servico

@{
    ViewData["Title"] = "Atualizar Serviço";
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Edit">
            <div class="collection-header blue darken-3">
                <h6 class="white-text">Atualizar Serviço</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="ServicoId" />

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Descricao" class="was-validated" id="Descricao" />
                        <label asp-for="Descricao" id="Descricao"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Descricao"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Valor" class="was-validated" id="Valor" />
                        <label asp-for="Valor" id="Valor"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Valor"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="UsuarioId" />

            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Atualizar</button> &emsp;
                <a asp-action="Index" asp-controller="Servicos">Voltar</a>
            </div>
        </form>
    </div>
</div>